In [4]:
import pandas as pd
import sys
import sqlite3

In [6]:
connection = sqlite3.connect('datasets/test.db')
print('db created')

db created

In [8]:
sql = 'create table MYTESTDB (testid int PRIMARY KEY , testname varchar(10) , testmonth varchar(10) , testcity vatchar(10));'

In [10]:
cursor = connection.cursor()

In [11]:
cursor.execute(sql)

In [16]:
insert_test = "insert into MYTESTDB values (1 , 'test01' , 'Jan' ,'delhi' )"
cursor.execute(insert_test)

In [23]:
insert_test = "insert into MYTESTDB values (2 , 'test02' , 'Febru','mumbai' )"
cursor.execute(insert_test)

insert_test = "insert into MYTESTDB values (3 , 'test03' , 'Mar' ,'chennai' )"
cursor.execute(insert_test)

In [24]:
sqlselect = 'select * from MYTESTDB'
cursor.execute(sqlselect)

In [25]:
records = cursor.fetchall()

In [26]:
records

[(1, 'test01', 'Jan', 'delhi'),
 (2, 'test02', 'Febru', 'mumbai'),
 (3, 'test03', 'Mar', 'chennai')]

In [27]:
connection.commit()

In [28]:
records

[(1, 'test01', 'Jan', 'delhi'),
 (2, 'test02', 'Febru', 'mumbai'),
 (3, 'test03', 'Mar', 'chennai')]

In [30]:
x = cursor.fetchall()

In [31]:
x

[]

In [32]:
connection.close()

In [33]:
cursor.fetchall()

ProgrammingError: Cannot operate on a closed database.